<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
 						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security-3.0.xsd">



	<global-method-security secured-annotations="enabled">
		<!-- AspectJ pointcut expression that locates our "post" method and applies 
			security that way <protect-pointcut expression="execution(* bigbank.*Service.post*(..))" 
			access="ROLE_TELLER"/> -->
	</global-method-security>

	<http auto-config="true">
		<form-login login-page="/login.jsp"
			default-target-url="/adminHomePage.do"
			authentication-failure-url="/login.jsp?login_error=1" />
		<intercept-url pattern="/adminHomePage.do" access="ROLE_SUPERVISOR" />
		<intercept-url pattern="/secure/**"
			access="IS_AUTHENTICATED_REMEMBERED" />
		<!-- Disable web URI authorization, as we're using <global-method-security> 
			and have @Secured the services layer instead <intercept-url pattern="/listAccounts.html" 
			access="IS_AUTHENTICATED_REMEMBERED" /> <intercept-url pattern="/post.html" 
			access="ROLE_TELLER" /> -->
		<intercept-url pattern="/**"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<!-- Uncomment to enable X509 client authentication support <x509 /> -->

		<!-- All of this is unnecessary if auto-config="true" <form-login /> <anonymous 
			/> <http-basic /> <logout /> <remember-me /> -->

		<!-- Uncomment to limit the number of sessions a user can have <concurrent-session-control 
			max-sessions="1" exception-if-maximum-exceeded="true" expired-url="/login.jsp" 
			/> -->
	</http>
	
	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsService" />
	</authentication-manager>
	<beans:bean id="userDetailsService" class="com.multivision.ehrms.service.business.UserDetailsServiceImpl" />
</beans:beans>
	